### 1. Python Program to scrape data for 'Data Analyst' Job Poisition in 'Bangalore' Location.

Website = 'http://www.naukri.com/'

Details to be scraped

    1. job-title
    2. job-location
    3. company_name
    4. experience required

In [1]:
#importing the libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Connecting to the webdriver 
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [3]:
url = 'http://www.naukri.com/'
driver.get(url)

In [4]:
#Entering “Data Analyst” in “Skill, Designations, Companies” field.

search_field_desgination = driver.find_element_by_class_name('suggestor-input ')
search_field_desgination.send_keys('Data Analyst')

#Entering "Bangalore” in “enter the location” field.

search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

#Clicking the search button

search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

#### Extracting  job titles

In [5]:
job_title = []

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for t in title_tags:
    title = t.text
    job_title.append(title)
    
job_title = job_title[:10]
job_title

['Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - Collibra',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Data Analyst',
 'Senior Professional Data Analyst',
 'Data Analyst - Python/Artificial Intelligence']

#### Extracting job location

In [6]:
job_location = []

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

for loc in location_tags:
    location = loc.text
    job_location.append(location)
    
job_location = job_location[:10]
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru']

#### Extracting company names

In [7]:
company_names = []

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for com in company_tags:
    company = com.text
    company_names.append(company)
company_names = company_names[:10]

company_names

['Dell Technologies',
 'Cerner',
 'Siemens',
 'Enrich talents',
 'Intel',
 'Shell',
 'K12 Techno Services Pvt Ltd',
 'Vedantu Innovations',
 'DXC Technology',
 'iMindYourBusiness']

#### Extracting experience required

In [8]:
experience_required = []

experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

for exp in experience_tags:
    experience = exp.text
    experience_required.append(experience)
    
experience_required = experience_required[:10]
experience_required

['1-6 Yrs',
 '8-12 Yrs',
 '0-10 Yrs',
 '0-4 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '4-9 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '0-2 Yrs']

Now we have scraped the required data from the website. We can check the length of elements in each list to create the dataframe.

In [9]:
print(len(job_title),len(job_location),len(company_names),len(experience_required))

10 10 10 10

#### Closing the driver

In [10]:
driver.close()

#### Creating DataFrame

In [11]:
jobs = pd.DataFrame({})

jobs['Title'] = job_title
jobs['Location'] = job_location
jobs['Company'] = company_names
jobs['Experience Required'] = experience_required

jobs

,Title,Location,Company,Experience Required
0,Senior Data Analyst (Digital Services Analytics),Bangalore/Bengaluru,Dell Technologies,1-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Cerner,8-12 Yrs
2,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
3,Data Analyst,Bangalore/Bengaluru,Enrich talents,0-4 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Intel,3-8 Yrs
5,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
6,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Vedantu Innovations,0-3 Yrs
8,Senior Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-7 Yrs
9,Data Analyst - Python/Artificial Intelligence,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu...",iMindYourBusiness,0-2 Yrs

### 2. Python Program to scrape data for 'Data Scientist' Job Poisition in 'Bangalore' Location.

Website = 'http://www.naukri.com/'

Details to be scraped

    1. job-title
    2. job-location
    3. company_name

In [12]:
#importing the libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [13]:
#Connecting to the webdriver 
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [14]:
url = 'http://www.naukri.com/'
driver.get(url)

In [15]:
#Entering “Data Scientist” in “Skill, Designations, Companies” field.

search_field_desgination = driver.find_element_by_class_name('suggestor-input ')
search_field_desgination.send_keys('Data Scientist')

#Entering "Bangalore” in “enter the location” field.

search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

#Clicking the search button

search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

#### Extracting  job titles

In [16]:
job_title = []

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for t in title_tags:
    title = t.text
    job_title.append(title)
    
job_title = job_title[:10]
job_title

['Junior Data Scientist',
 'Staff Data Scientist',
 'Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Senior Data Scientist/Data Scientist',
 'Data Scientist 2',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist']

#### Extracting job location

In [17]:
job_location = []

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

for loc in location_tags:
    location = loc.text
    job_location.append(location)
    
job_location = job_location[:10]
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +2)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

#### Extracting company names

In [18]:
company_names = []

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for com in company_tags:
    company = com.text
    company_names.append(company)
company_names = company_names[:10]

company_names

['Accenture',
 'Walmart',
 'Walmart',
 'Swiggy',
 'Tredence Analytics Solutions Private Limited',
 'PayPal',
 'Thoucentric Technology Pvt ltd',
 'Flipkart',
 'Medi Assist Insurance TPA Pvt. Ltd',
 'Medi Assist Insurance TPA Pvt. Ltd']

Now we have scraped the required data from the website. We can check the length of elements in each list to create the dataframe.

In [19]:
print(len(job_title),len(job_location),len(company_names))

10 10 10

#### Closing the driver

In [20]:
driver.close()

#### Creating DataFrame

In [21]:
jobs = pd.DataFrame({})

jobs['Title'] = job_title
jobs['Location'] = job_location
jobs['Company'] = company_names

jobs

,Title,Location,Company
0,Junior Data Scientist,Bangalore/Bengaluru,Accenture
1,Staff Data Scientist,Bangalore/Bengaluru,Walmart
2,Data Scientist,Bangalore/Bengaluru,Walmart
3,Data Scientist II- Merchandise & Discovery,Bangalore/Bengaluru,Swiggy
4,Senior Data Scientist/Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Tredence Analytics Solutions Private Limited
5,Data Scientist 2,Bangalore/Bengaluru,PayPal
6,Lead Data Scientist,Bangalore/Bengaluru(HSR Layout +2),Thoucentric Technology Pvt ltd
7,Senior Data Scientist,Bangalore/Bengaluru,Flipkart
8,Data Scientist,Bangalore/Bengaluru,Medi Assist Insurance TPA Pvt. Ltd
9,Data Scientist,Bangalore/Bengaluru,Medi Assist Insurance TPA Pvt. Ltd

### 3. Python program to scrape data for 'Data Scientist' desgination for location 'Delhi/NCR'.

Tasks

1. Website : http://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Click the search button
4. Apply the location filter and salary filter by checking the respective boxes. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
5. Scrape the data for the first 10 jobs results you get.
6. Create a dataframe of the scraped data

Website = 'http://www.naukri.com/'

Details to be scraped

    1. job-title
    2. job-location
    3. company_name
    4. experience required

In [22]:
#importing the libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [23]:
#Connecting to the webdriver 
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [24]:
url = 'http://www.naukri.com/'
driver.get(url)

In [25]:
#Entering “Data Scientist” in “Skill, Designations, Companies” field.

search_field_desgination = driver.find_element_by_class_name('suggestor-input ')
search_field_desgination.send_keys('Data Scientist')

#Clicking the search button

search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

#### Applying filter by location - Delhi/NCR

In [26]:
filter_by_location_Delhi_NCR = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]')
filter_by_location_Delhi_NCR.click()

#### Applying filter by salary - 3 - 6 lakh

In [27]:
filter_by_salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
filter_by_salary.click()

#### Extracting Job titles

In [28]:
job_title = []

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for t in title_tags:
    title = t.text
    job_title.append(title)
    
job_title = job_title[:10]
job_title

['Hiring For Senior Data Scientist-Noida',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist - Python/SQL',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist (freelance)',
 'Data Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'AM Data Scientist - Goods & Service Tax Network, Delhi']

#### Extracting job location

In [29]:
job_location = []

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

for loc in location_tags:
    location = loc.text
    job_location.append(location)
    
job_location = job_location[:10]
job_location

['Noida, Greater Noida, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Noida, Delhi / NCR',
 'Delhi / NCR']

#### Extracting company names

In [30]:
company_names = []

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for com in company_tags:
    company = com.text
    company_names.append(company)
company_names = company_names[:10]

company_names

['Lumiq.ai',
 'Optum',
 'KIA INDIA PRIVATE LIMITED',
 'AVE-Promagne',
 'Creative Hands HR Consultancy',
 '2Coms',
 'BlackBuck',
 'Boston Consulting Group',
 'HCL Technologies',
 'NISG (National Institute for Smart Government)']

#### Extracting experience required

In [31]:
experience_required = []

experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

for exp in experience_tags:
    experience = exp.text
    experience_required.append(experience)
    
experience_required = experience_required[:10]
experience_required

['2-6 Yrs',
 '2-7 Yrs',
 '7-10 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-8 Yrs']

Now we have scraped the required data from the website. We can check the length of elements in each list to create the dataframe.

In [32]:
print(len(job_title),len(job_location),len(company_names),len(experience_required))

10 10 10 10

#### Closing the driver

In [33]:
driver.close()

#### Creating DataFrame

In [34]:
jobs = pd.DataFrame({})

jobs['Title'] = job_title
jobs['Location'] = job_location
jobs['Company'] = company_names
jobs['Experience Required'] = experience_required

jobs

,Title,Location,Company,Experience Required
0,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
1,Senior Data Scientist,Noida,Optum,2-7 Yrs
2,Lead Data Scientist,Gurgaon/Gurugram,KIA INDIA PRIVATE LIMITED,7-10 Yrs
3,Data Scientist - Python/SQL,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs
4,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
7,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
8,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
9,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs

### 4. Python Program to Scrape data of first 100 sunglasses listings on flipkart.com.

Attributes to be scraped:
    
1. Brand
2. Product Description
3. Price

In [35]:
#importing the libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [36]:
#Connecting to webdriver

driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [37]:
url = 'http://www.flipkart.com/'
driver.get(url)

In [38]:
#closing the popup
close_popup_button = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_popup_button.click()
#Entering "Sunglasses" in the search field

search_field = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field.send_keys('Sunglasses')

#Clicking the search button

search_button = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

#### Extracting attributes from first page

In [40]:
#Extracting the brand names
brand_names = []

brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))

#Extracting product description
product_description = []

product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)   
print(len(product_description))

#Extracting Price
product_price = []

price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
product_price = product_price[:40]

print(len(product_price))

40
40
40

Now we have scraped 40 attributes of brands,product description,price from the first page. Now lets click the 'NEXT' button on the page to scrape attributes from second page.

In [41]:
#Next Page button

next_page_button = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page_button.click()

#### Extracting attributes from second page

In [42]:
#Extracting brand names
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))

#Extracting product description
product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)
    
print(len(product_description))

#Extracting Price
price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
product_price = product_price[:80]

print(len(product_price))

80
80
80

Now we have scraped 80 attributes of brands,product description,price from the first page. Now lets click the 'NEXT' button on the page to scrape attributes from third page.

In [43]:
#Next Page button

next_page_button = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page_button.click()

#### Extracting attributes form third page

In [44]:
#Extracting brand names
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
    
brand_names = brand_names[:100]

#Extracting product description
product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)
    
product_description = product_description[:100]

#Extracting Price
price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
    
product_price = product_price[:100]

In [45]:
print(len(brand_names),len(product_description),len(product_price))

100 100 100

#### Closing the driver

In [46]:
driver.close()

Now we have scraped 100 attributes for the required fields.

#### Creating DataFrame

In [47]:
product_details = pd.DataFrame({})

product_details['Brand'] = brand_names
product_details['Product Description'] = product_description
product_details['Price and Discount'] = product_price

product_details

,Brand,Product Description,Price and Discount
0,john jacobs,UV Protection Clubmaster Sunglasses (47),"[₹3,850, 35% off]"
1,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),"[₹599, 70% off]"
2,SRPM,UV Protection Wayfarer Sunglasses (50),"[₹199, 84% off]"
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),"[₹709, 21% off]"
4,Elligator,UV Protection Round Sunglasses (54),"[₹208, 91% off]"
...,...,...,...
95,AISLIN,"Toughened Glass Lens, UV Protection Rectangula...","[₹725, 77% off]"
96,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"[₹424, 80% off]"
97,Mi,Polarized Aviator Sunglasses (Free Size),"[₹889, 25% off]"
98,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...","[₹424, 71% off]"
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","[₹949, 52% off]"

### 5. Python program to Scrape 100 reviews data from flipkart.com for iphone11 phone.

Details to be scraped

1. Rating
2. Review Summary
3. Full Review

In [48]:
#importing libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [49]:
#Connecting to the web driver
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(10)

In [50]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

From the product description page, we have to get the product review page. For that we have to click on the "All reviews" page.

In [51]:
all_review_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
all_review_button.click()

#### Extracting attributes from first page

In [52]:
#Extracting ratings
rating_list = []

rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

for rate in rating_tag:
    rating = rate.text
    rating_list.append(rating)
    
print(len(rating_list))

#Extracting review summary
review_summary = []

review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

for rev in review_tags:
    review = rev.text
    review_summary.append(review)
    
print(len(review_summary))

#Extracting full review
full_review = []

full_review_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for re in full_review_tags:
    full_rev = re.text
    full_review.append(full_rev)
    
print(len(full_review))

10
10
10

Now we have scraped 10 elements for each attributs from the first page. Now lets scrape the rest of 90 elements from the following pages.

In [53]:
#Using the next button for loading the second page
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3'][1]")
next_button.click()
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3'][1]")
next_button.click()

In [54]:
#Creating a forloop to scrape all the details from following pages to make 100 elements for each attributes
for page in range(2,11,1):
    urla = driver.current_url[:-1]
    driver.get(urla+str(page))
    
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    for rate in rating_tag:
        rating = rate.text
        rating_list.append(rating)
        
    review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for rev in review_tags:
        review = rev.text
        review_summary.append(review)
        
    full_review_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for re in full_review_tags:
        full_rev = re.text
        full_review.append(full_rev)
    
    
    
print(len(rating_list),len(review_summary),len(full_review))

100 100 100

Now we have scraped 100 elements for each attributes

In [55]:
#Closing the driver
driver.close()

Creating DataFrame

In [56]:
iphone_review = pd.DataFrame({})
iphone_review['Rating']= rating_list
iphone_review['Review Summary'] = review_summary
iphone_review['Full Review'] = full_review

iphone_review

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Pretty good,I've used this phone for over a month now and ...
96,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
97,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Just wow!,The ultimate performance\nCamera is superb\nTh...

### 6. Python program to scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

Details to be scraped 

1. Brand
2. Product Description
3. Price

In [57]:
#importing the libraries

import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [58]:
#Connecting to webdriver

driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [59]:
url = 'http://www.flipkart.com/'
driver.get(url)

In [60]:
#closing the popup
close_popup_button = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_popup_button.click()
#Entering "sneakers" in the search field

search_field = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field.send_keys('sneakers')

#Clicking the search button

search_button = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

#### Extracting attributes from first page

In [61]:
#Extracting the brand names
brand_names = []

brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))

#Extracting product description
product_description = []

product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)   
print(len(product_description))

#Extracting Price
product_price = []

price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
product_price = product_price[:40]

print(len(product_price))

40
40
40

Now we have scraped 40 attributes of brands,product description,price from the first page. Now lets click the 'NEXT' button on the page to scrape attributes from second page.

In [62]:
#Next Page button

next_page_button = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page_button.click()

#### Extracting attributes from second page

In [63]:
#Extracting brand names
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))

#Extracting product description
product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)
    
print(len(product_description))

#Extracting Price
price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
product_price = product_price[:80]

print(len(product_price))

80
80
80

Now we have scraped 80 attributes of brands,product description,price from the first page. Now lets click the 'NEXT' button on the page to scrape attributes from third page.

In [64]:
#Next Page button

next_page_button = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page_button.click()

#### Extracting attributes form third page

In [65]:
#Extracting brand names
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
    
brand_names = brand_names[:100]

#Extracting product description
product_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")

for pr in product_tags:
    product = pr.text
    product_description.append(product)
    
product_description = product_description[:100]

#Extracting Price
price_tags = driver.find_elements_by_class_name('_30jeq3')
discount_tags = driver.find_elements_by_class_name('_3Ay6Sb')

for p, d in zip(price_tags,discount_tags):
    price = p.text
    discount = d.text
    product_price.append([price,discount])
    
product_price = product_price[:100]

In [66]:
print(len(brand_names),len(product_description),len(product_price))

100 100 100

#### Closing the driver

In [67]:
driver.close()

Now we have scraped 100 attributes for the required fields.

#### Creating DataFrame

In [68]:
product_details = pd.DataFrame({})

product_details['Brand'] = brand_names
product_details['Product Description'] = product_description
product_details['Price and Discount'] = product_price

product_details

,Brand,Product Description,Price and Discount
0,T-ROCK,Stylish White Casual Sneakers shoes Men and Bo...,"[₹399, 60% off]"
1,HIGHLANDER,Sneakers For Men,"[₹945, 52% off]"
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"[₹469, 70% off]"
3,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,"[₹349, 82% off]"
4,Magnolia,Sneakers For Men,"[₹374, 62% off]"
...,...,...,...
95,HIGHLANDER,Sneakers For Men,"[₹945, 52% off]"
96,luxury fashion,Fashionable sneaker shoes Sneakers For Men,"[₹449, 77% off]"
97,Xtoon,"white Casual shoes,Sneakers for men's Sneakers...","[₹448, 55% off]"
98,aadi,Sneakers For Men,"[₹309, 84% off]"
99,Numenzo,Sneakers For Men,"[₹379, 70% off]"

### 7. Python program to scrape First 100 shoes data from Myntra.com/shoes. Set Price filter to “Rs. 7149 to Rs. 14099 ”, Color filter to “Black”

Details to Scrape

1. Brand
2. Short Description
3. Price

In [69]:
#importing libraries

import selenium
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [70]:
#Connecting to webdriver

driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [71]:
#Loading the website
url = 'http://www.myntra.com/shoes'
driver.get(url)

#### Setting the filter values

In [72]:
#Selecting the price range

filter_price_button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price_button.click()

In [74]:
#Selecting the required color

filter_color_button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_color_button.click()

#### Extracting the elements for each attributs from first page.

In [75]:
#Extracting brand names
brand_names =[]
brand_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))
      
#Extracting short description
short_des = []
short_des_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")

for sh in short_des_tags:
    short = sh.text
    short_des.append(short)
print(len(short_des))

#Extracting shoe price
shoe_price = []
price_tags = driver.find_elements_by_xpath("//div[@class='product-price']")

for pr in price_tags:
    price = pr.text
    shoe_price.append(price)
print(len(shoe_price))

50
50
50

Now we can initiate the next button to scrape the data from next page

In [76]:
next_page_button = driver.find_element_by_xpath("//li[@class='pagination-next']")
next_page_button.click()

#### Extracting the elements for each attributes from second page

In [77]:
#Extracting brand names
brand_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']")

for br in brand_tags:
    brand = br.text
    brand_names.append(brand)
print(len(brand_names))
      
#Extracting short description
short_des_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")

for sh in short_des_tags:
    short = sh.text
    short_des.append(short)
print(len(short_des))

#Extracting shoe price
price_tags = driver.find_elements_by_xpath("//div[@class='product-price']")

for pr in price_tags:
    price = pr.text
    shoe_price.append(price)
print(len(shoe_price))

100
100
100

We have scraped data for 100 shoes.

In [78]:
#closing the driver
driver.close()

#### Creating the DataFrame

In [79]:
import pandas as pd
shoes  = pd.DataFrame({})
shoes['Brand'] = brand_names
shoes['Product Description'] = short_des
shoes['Price'] = shoe_price

shoes

,Brand,Product Description,Price
0,ALDO,Men Leather Loafers,Rs. 11199Rs. 15999(30% OFF)
1,ALDO,Men Leather Driving Shoes,Rs. 9099Rs. 12999(30% OFF)
2,Nike,Men JORDAN ONE Basketball,Rs. 8295
3,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
4,Nike,Men Zoom Fly 4 Running Shoes,Rs. 13045Rs. 14495(10% OFF)
...,...,...,...
95,Geox,Women Solid Leather Ballerinas,Rs. 8999
96,Geox,Men Slip-On Formal Moccasins,Rs. 9990
97,Cole Haan,Women Leather Open Toe Flats,Rs. 12999
98,Geox,Men Formal Derbys,Rs. 9990
99,Heel & Buckle London,Men Suede Loafers,Rs. 12990

### 8. Python program to scrape data from http://www.amazon.in/ after setting the filters to scrape first 10 laptops data.

Input data

1. Enter “Laptop” in the search field and then click the search icon.
2. Set CPU Type filter to “Intel Core i7” and “Intel Core i9”

Details to be scraped

1. Title
2. Rating
3. Price

In [80]:
#importing the libraries
import selenium
from selenium import webdriver
import time
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [81]:
#Connecting to webdriver
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [82]:
#Loading the website
url = 'http://www.amazon.in/'
driver.get(url)

In [86]:
#Search input

search_field_input = driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_field_input.send_keys('Laptop')

search_button = driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_button.click()

#### Setting the filters

#### Data for filter - Intel Core i7

In [88]:
filter_cpu_i7 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
filter_cpu_i7.click()

#### Extracting data

In [89]:
#Extracting titles

titles = []
title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

for t in title_tags:
    title = t.text
    titles.append(title)
titles = titles[:10]
print(len(titles))
#Extracting Ratings
ratings = []
rating_tags = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")

for ra in rating_tags:
    rating = ra.get_attribute('aria-label')
    ratings.append(rating)
ratings = ratings[:10]
print(len(ratings))    

#Extracting Price

prices = []
price_tags = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for pr in price_tags:
    price = pr.text
    prices.append(price)
prices = prices[:10]
print(len(prices))

10
10
10

We have scraped the first 10 data for filter - Intel Core i7.

In [90]:
#Launching the page with search input laptops without filter

#Loading the website
url = 'http://www.amazon.in/'
driver.get(url)

#### Since the intel core i9 filter is not available. we are changing the categories to "Computers & Accessories" for making the filter available.

In [92]:
#Search input

search_field_input = driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_field_input.send_keys('Laptop')

search_button = driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_button.click()

#### Data for filter - Intel Core i9

In [94]:
filter_cpu_i9 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
filter_cpu_i9.click()

#### Extracting Data

In [97]:
#Since the data is not showing up since the items are not in stock, we can include out of stock items.
include_outofstock_button = driver.find_element_by_xpath("//*[@id='p_n_availability/1318485031']/span/a/div/label/i")
include_outofstock_button.click()

In [98]:
#Extracting titles


title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

for t in title_tags:
    title = t.text
    titles.append(title)
titles = titles[:20]
print(len(titles))
#Extracting Ratings

rating_tags = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")

for ra in rating_tags:
    rating = ra.get_attribute('aria-label')
    ratings.append(rating)
ratings = ratings[:20]
print(len(ratings))    

#Extracting Price


price_tags = driver.find_elements_by_xpath("//div[@class='sg-col-inner']/div/div/a/span")
for pr in price_tags:
    price = pr.text
    prices.append(price)
prices = prices[:20]
print(len(prices))

20
20
20

Now we have collected information for laptops with  i7 and i9 as filters.

In [99]:
#Closing the driver
driver.close()

#### Creating the dataframe

In [100]:
laptop= pd.DataFrame({}, index= range(1,len(titles)+1))
laptop['Title'] = titles
laptop['Ratings'] = ratings
laptop['Price'] = prices

laptop

,Title,Ratings,Price
1,Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...,5.0 out of 5 stars,"1,29,990"
2,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,3,"1,05,990"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.5 out of 5 stars,"57,490"
4,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",55,"86,990"
5,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,5.0 out of 5 stars,"86,990"
6,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,1,"81,990"
7,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,4.6 out of 5 stars,"89,611"
8,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",38,"89,990"
9,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.1 out of 5 stars,"94,999"
10,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,82,"1,05,990"
11,"ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 c...",4.3 out of 5 stars,"₹3,31,990"
12,"ASUS ROG Strix SCAR 15 (2022), 15.6-inch (39.6...",21,"₹3,89,990"
13,"ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...",4.3 out of 5 stars,"₹3,15,100"
14,HP Omen X 2S Intel Core i9 9th Gen 15.6 inches...,11,"₹3,76,990"
15,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",1.0 out of 5 stars,"₹2,90,990"
16,Acer Predator Helios 300 11th Gen Intel Core i...,1,"₹3,17,990"
17,(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...,5.0 out of 5 stars,"₹1,77,885"
18,"MSI Gaming Raider GE76, Intel 12th Gen. i9-129...",1,"₹1,88,990"
19,"ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9...",2.8 out of 5 stars,"₹1,44,990"
20,ASUS ZenBook Pro Duo 15 OLED (2021) Intel Core...,2,"₹1,69,999"

First 10 results are for laptops with intel core i7 and next 10 results are for laptops with intel core i9.

### 9. Python program to scrape data for first 10 job results for Data Scientist Designation in Noida location from http://www.ambitionbox.com/

Designation = Data Scientist
Location - Noida

Details to be scraped

1. Company name
2. No. of days ago job was posted
3. Rating of the company

In [101]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [114]:
#Connecting to webdriver
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [115]:
#Loading the website
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [116]:
#Clicking the job button
job_page_button = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_page_button.click()

In [117]:
#Search input

search_field_designation = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys('Data Scientist')

search_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [118]:
#Selecting the location
location_button = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
location_button.click()

In [119]:
#Searching the location
search_field_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_field_location.send_keys("Noida")

In [120]:
search_location_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
search_location_button.click()

#### Extracting the data

In [121]:
#Extracting company names
company_names = []
company_names_tags = driver.find_elements_by_xpath("//div[@class='company-info']/p")
for com in company_names_tags:
    company = com.text
    company_names.append(company)
company_names = company_names[1:]
print(len(company_names))

#Extracting no.of days ago when job was posted

days_ago_posted = []
days_ago_tags = driver.find_elements_by_xpath("//span[@class='body-small-l'][1]")
for day in days_ago_tags:
    days = day.text
    days_ago_posted.append(days)
print(len(days_ago_posted))

#Extracting Rating of the company
company_rating = []
company_rating_tags = driver.find_elements_by_xpath("//span[@class='body-small']")
for comp in company_rating_tags:
    companyrating = comp.text
    company_rating.append(companyrating)
print(len(company_rating))

10
10
10

We have scraped all the required data from the website.

In [111]:
#closing the driver()
driver.close()

#### Creating the dataframe

In [122]:
ambition_box = pd.DataFrame({})
ambition_box['Company Name'] = company_names
ambition_box['No. of days ago when job was posted'] = days_ago_posted
ambition_box['Rating of the company'] = company_rating

ambition_box

,Company Name,No. of days ago when job was posted,Rating of the company
0,GENPACT India Private Limited,21hr ago,4.0
1,Optum Global Solutions (India) Private Limited,14d ago,4.1
2,Tech Mahindra Ltd,14d ago,3.7
3,GENPACT India Private Limited,17d ago,4.0
4,HCL Technologies,21d ago,3.8
5,Optum Global Solutions (India) Private Limited,1mon ago,4.1
6,Newgen Software Technologies Ltd.,1d ago,3.5
7,JK Technosoft Ltd,10d ago,3.6
8,Pitney Bowes India Pvt Ltd,1mon ago,4.2
9,Microsoft India (R and D) Pvt Ltd,1mon ago,4.2

### 10. Python program to scrape the salary data for Data Scientist designation from http://www.ambitionbox.com/

Details to be scraped

1. Company Name
2. Number of salaries
3. Average Salary
4. Min salary
5. Max Salary
6. Experience required

In [123]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [124]:
#Connecting to webdriver
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [125]:
#Loading the website
url = 'http://www.ambitionbox.com/'
driver.get(url)

In [126]:
#Selecting Category - Salary
salary_category = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_category.click()

In [127]:
#Search input and search button

search_input_salary = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_input_salary.send_keys("Data Scientist")

In [128]:
select_data_scientist = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div")
select_data_scientist.click()

#### Extracting the required data

In [129]:
#Extracting company names

company_names = []
company_names_tags = driver.find_elements_by_xpath("//div[@class='company-info']/div/a")
for com in company_names_tags:
    company = com.text
    company_names.append(company)
print(len(company_names))

#Extracting Total Salary Record

total_salary = []
total_salary_tags = driver.find_elements_by_xpath("//div[@class='company-info']/div/span[1]")
for tot in total_salary_tags:
    total = tot.text
    total_salary.append(total)
total_salary = [total_salary[x] for x in range(0,len(total_salary),2)]
print(len(total_salary))

#Extracting average salary
average_salary = []
avg_salary_tags = driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")
for avg in avg_salary_tags:
    average = avg.text
    average_salary.append(average)
print(len(average_salary))

#Extracting minimum salary
min_salary = []
min_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for min in min_salary_tags:
    minimum = min.text
    min_salary.append(minimum)
print(len(min_salary))

#Extracting maximum salary
max_salary = []
max_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for max in max_salary_tags:
    maximum = max.text
    max_salary.append(maximum)
print(len(max_salary))

#Extracting experience required
exp_required = []
exp_required_tags = driver.find_elements_by_xpath("//div[@class='company-info-wrapper']/div/div[2]")
for exp in exp_required_tags:
    experience = exp.text.replace('Data Scientist\n . \n','')
    exp_required.append(experience)
print(len(exp_required))

10
10
10
10
10
10

We have scraped all the required details from the website.

In [130]:
#Closing the driver
driver.close()

#### Creating the DataFrame

In [131]:
ds_salary = pd.DataFrame({})

ds_salary['Company Name'] = company_names
ds_salary['Total Salary Record'] = total_salary
ds_salary['Average Salary'] = average_salary
ds_salary['Minimum Salary'] = min_salary
ds_salary['Maximum Salary'] = max_salary
ds_salary['Experience Required'] = exp_required

ds_salary

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 12 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs exp
1,Ab Inbev,based on 29 salaries,₹ 20.4L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs exp
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L,2 yrs exp
4,Optum,based on 27 salaries,₹ 15.3L,₹ 11.0L,₹ 22.4L,3-4 yrs exp
5,Fractal Analytics,based on 81 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
6,Tiger Analytics,based on 45 salaries,₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
7,UnitedHealth,based on 52 salaries,₹ 13.9L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp