## WEB SCRAPING – ASSIGNMENT 4

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Details to be scraped:
    
A) `Rank`
B) `Name`
C) `Artist`
D) `Upload date`
E) `Views`

In [290]:
#Importing the libraries

import pandas as pd
import re
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.chrome.options import Options     #importing Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

import warnings
warnings.filterwarnings('ignore')

In [291]:
chrome_options.add_argument('--incognito')
driver = webdriver.Chrome('chromedriver.exe')

driver.maximize_window() 
time.sleep(1)

In [292]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [293]:
#Extracting the details from the website.

rank = []
name = []
artist = []
date = []
views = []

#Extracting the rank details
rank_tags = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for ra in rank_tags:
    rank.append(ra.text)
rank = rank[:30]
print(len(rank))

#Extracting the name details
name_tags = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for na in name_tags:
    name.append(na.text[:-3].replace('[',''))

name = name[:30]
print(len(name))

#Extracting the artist details
artist_tags = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for art in artist_tags:
    artist.append(art.text)
artist = artist[:30]
print(len(artist))

#Extracting the upload date details
date_tags = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for dt in date_tags:
    date.append(dt.text)
date = date[:30]
print(len(date))

#Extracting the Views details
view_tags = driver.find_elements_by_xpath("//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for vi in view_tags:
    views.append(vi.text)
views = views[:30]
print(len(views))

#Creating the dateframe to display the scraped content
youtube_top = pd.DataFrame({})
youtube_top['Rank'] = rank
youtube_top['Video Name'] = name
youtube_top['Artist/Uploader'] = artist
youtube_top['Upload Date'] = date
youtube_top['Views(In Billions)'] = views

youtube_top

30
30
30
30
30

,Rank,Video Name,Artist/Uploader,Upload Date,Views(In Billions)
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.72
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.85
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.36
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.72
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.52
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.40
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.64
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.58
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.57
9,10.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.43
11,12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.08
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.94
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.69
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.58
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.58
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.45
18,19.,"""Axel F""",Crazy Frog,"June 16, 2009",3.36
19,20.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.29
20,21.,"""Faded""",Alan Walker,"December 3, 2015",3.28
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.27
22,23.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.24
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.23
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.21
25,26.,"""Lean On""",Major Lazer,"March 22, 2015",3.21
26,27.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.17
27,28.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.17
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.14
29,30.,"""Mi Gente""",J Balvin,"June 29, 2017",3.08

In [294]:
driver.close()

### 2. Scrape the details team India’s international fixtures from bcci.tv.

Details to be scraped

A) `Match title (I.e. 1st ODI)`
B) `Series`
C) `Place`
D) `Date`
E) `Time`

In [295]:
import pandas as pd

import selenium
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [296]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [297]:
driver.get('http://www.bcci.tv/')

In [298]:
#Selecting the category - International
inter = driver.find_element_by_xpath("//li[@class = 'nav-item ml-0']")
inter.click()

In [299]:
#Extracting the details

titles = []
series = []
place = []
date = []
time = []

#Extracting match titles
title_tags = driver.find_elements_by_xpath("//span[@class = 'matchOrderText ng-binding ng-scope']")
for ti in title_tags:
    titles.append(ti.text.replace(' -',''))
print(len(titles))

#Extracting series details
series_tags = driver.find_elements_by_xpath("//span[@class = 'ng-binding']")
for se in series_tags:
    series.append(se.text)
print(len(series))

#Extracting place detailis
place_tags = driver.find_elements_by_xpath("//div[@class = 'fix-place ng-binding ng-scope']")
place_tag = driver.find_elements_by_xpath("//div[@class = 'fix-place ng-binding ng-scope']/span[2]")
for pl,pt in zip(place_tags,place_tag):
    place.append(pt.text+' '+pl.text.split()[-1])
print(len(place))

#Extracting date details
date_tags = driver.find_elements_by_xpath("//div[@class = 'match-card-left match-schedule']")
for dt in date_tags:
    date.append(dt.text)
print(len(date))

#Extracting time details
time_tags = driver.find_elements_by_xpath("//div[@class = 'match-card-right match-schedule ']")
for ti in time_tags:
    time.append(ti.text)
print(len(time))

#Creating the dateframe to display the scraped content
ind_int_fix = pd.DataFrame({'Match Title':titles,'Series': series,'Place':place,'Date':date,'Time':time})
ind_int_fix

5
5
5
5
5

,Match Title,Series,Place,Date,Time
0,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",9 JUN 2022,7:00 PM IST
1,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",12 JUN 2022,7:00 PM IST
2,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,14 JUN 2022,7:00 PM IST
3,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:00 PM IST
4,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:00 PM IST

In [300]:
driver.close()

### 3. Scrape the details of selenium exception from guru99.com.

Details to be scraped

A) `Name`
B) `Description`

In [301]:
#Importing the libraries

import pandas
import re

import selenium
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

In [302]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [303]:
driver.get('https://www.guru99.com/')

In [304]:
#Clicking the category - Selenium
sele = driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a")
sele.click()

In [305]:
#Clicking the category - Selenium Exception Handling(Common Exception List)
excep = driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a")
excep.click()

In [306]:
#Extracting details

name = []
description = []

#Extracting exception name details
name_tags = driver.find_elements_by_xpath("//table[@class = 'table table-striped']/tbody/tr/td[1]")
for na in name_tags:
    name.append(na.text)
print(len(name))

#Extracting description details
desc_tags = driver.find_elements_by_xpath("//table[@class = 'table table-striped']/tbody/tr/td[2]")
for de in desc_tags:
    description.append(de.text)
print(len(description))

exceptions = pd.DataFrame({'Exception Name':name,'Description':description})
exceptions

41
41

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [307]:
driver.close()

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Details to be scraped.

A) `Rank`
B) `State`
C) `GSDP(19-20)`
D) `GSDP(18-19)`
E) `Share(2019)`
F) `GDP($ billion)`

In [321]:
#Importing the libraries
import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

import warnings
warnings.filterwarnings('ignore')

In [309]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [310]:
driver.get('http://statisticstimes.com/')
time.sleep(2)

In [311]:
#Clicking on category - Economy
eco_button = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
eco_button.click()

#Clicking the category - India
ind_button = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
ind_button.click()

In [315]:
driver.get('http://statisticstimes.com/')
time.sleep(1)
driver.execute_script("window.stop();")

In [316]:
try:
    eco_button.click()
    ind_button.click()
except StaleElementReferenceException:
    driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button").click()
    driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [317]:
#Selecting the state wise gdp category
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(1)
driver.execute_script("window.stop();")

In [324]:
#Closing pop up
try:
    close_popup = driver.find_element_by_xpath("//vli[@class = 'vi_closeSlider']")
    close_popup.click()
except (NoSuchElementException,ElementNotInteractableException):
    pass

In [325]:
#Extracting the details

rank = []
state = []
gsdp_18 = []
gsdp_19 = []
shares = []
gdp = []

#Extracting the rank details
rank_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[1]")
for ra in rank_tags:
    rank.append(ra.text)
print(len(rank))

#Extracting state name details
state_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[2]")
for st in state_tags:
    state.append(st.text)
print(len(state))

#Extracting gsdp 2019-20
gsdp_19_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[3]")
for g in gsdp_19_tags:
    gsdp_19.append(g.text)
print(len(gsdp_19))

#Extracting gsdp 2018-19
gsdp_18_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[4]")
for gs in gsdp_18_tags:
    gsdp_18.append(gs.text)
print(len(gsdp_18))

#Extracting share details
shares_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[5]")
for sh in shares_tags:
    shares.append(sh.text)
print(len(shares))

#Extracting GDP details
gdp_tags = driver.find_elements_by_xpath("//div[@id = 'table_id_wrapper']/table/tbody/tr/td[6]")
for gd in gdp_tags:
    gdp.append(gd.text)
print(len(gdp))

gdp_india = pd.DataFrame({'Rank':rank,'State':state,'GSDP 2019-20(Cr INR at Current Price)':gsdp_19,'GSDP 2018-19(Cr INR at Current Price)':gsdp_18,'Share(%)':shares,'GDP($billion)':gdp})
gdp_india

33
33
33
33
33
33

,Rank,State,GSDP 2019-20(Cr INR at Current Price),GSDP 2018-19(Cr INR at Current Price),Share(%),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [326]:
driver.close()

### 5.Scrape the details of trending repositories on Github.com.

Details to be scraped

A) `Repository title`
B) `Repository description`
C) `Contributors count`
D) `Language used`

In [327]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
import time

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings('ignore')

In [328]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [329]:
driver.get('https://github.com/')
time.sleep(2)

In [330]:
try:
    #Clicking the category - Explore
    explore_click = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")
    explore_click.click()

    #Clicking the category - Trending
    trend_click = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
    trend_click.click()
except ElementNotInteractableException:
    #Clicking the category - Explore
    explore_click = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")
    explore_click.click()

    #Clicking the category - Trending
    trend_click = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
    trend_click.click()

In [331]:
#Extracting the url for every repositories
url = []
url_tags = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']/a")
time.sleep(2)
for ur in url_tags:
    url.append(ur.get_attribute('href'))
print(len(url))

titles = []
description = []
contribution = []
language = []

for u in url:
    driver.get(u)
    time.sleep(1)
    
    #Extracting the repository titles
    try:
        titles.append(driver.find_element_by_xpath("//strong[@class = 'mr-2 flex-self-stretch']/a").text)
    except NoSuchElementException:
        titles.append('-')
        
    
    #Extracting Repository Description
    try:
        description.append(driver.find_element_by_xpath("//div[@class = 'BorderGrid-row hide-sm hide-md']/div/p").text)
    except NoSuchElementException:
        description.append('-')
    
    #Extracting Contribution Count
    try:
        contribution.append(driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span").text)
    except NoSuchElementException:
        contribution.append('-')

    #Extracting Languages used
    lan = []
    try:
        language_tags = driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
        for la in language_tags:
            lan.append(la.text)
    except NoSuchElementException:
        pass
    language.append(str(lan).replace("'","")[1:-1])  
  
    
print(len(titles))
print(len(description))
print(len(contribution))
print(len(language))



github_trending = pd.DataFrame({'Repository Title':titles,'Repository Description':description,'Contributors Count':contribution,'Languages Used':language})
github_trending

25
25
25
25
25

,Repository Title,Repository Description,Contributors Count,Languages Used
0,tinygo,Go compiler for small places. Microcontrollers...,108,"Go, Assembly, Makefile, C++, JavaScript, HTML"
1,50projects50days,"50+ mini web projects using HTML, CSS & JS",28,"CSS, HTML, JavaScript"
2,sui,"Sui, a next-generation smart contract platform...",41,"Rust, TypeScript, CSS, SCSS, Python, JavaScript"
3,GaiaX,GaiaX dynamic template engine is a lightweight...,7,"Rust, Kotlin, Objective-C, C++, CSS, HTML"
4,dalle-mini,DALL·E Mini - Generate images from a text prompt,15,"Python, Jupyter Notebook"
5,papers-we-love,Papers from the computer science community to ...,255,Shell
6,source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,20,Java
7,dashy,🚀 A self-hosted startpage for your server. Eas...,37,"Vue, JavaScript, SCSS, HTML, CSS, Dockerfile"
8,chinese-programmer-wrong-pronunciation,中国程序员容易发音错误的单词,74,Python
9,CVE-2022-26134,[PoC] Atlassian Confluence (CVE-2022-26134) - ...,-,Python
10,Cloud-DevOps-Learning-Resources,This repo includes Books and imp notes related...,-,
11,v2ray-core,A platform for building proxies to bypass netw...,117,Go
12,dalle-playground,A playground to generate images from any text ...,2,"JavaScript, Python, Jupyter Notebook, HTML, Do..."
13,Dynamic-Parkour-System,Dynamic Parkour System is a FREE plugin for Un...,-,C#
14,app-ideas,A Collection of application ideas which can be...,68,
15,Andrew-NG-Notes,This is Andrew NG Coursera Handwritten Notes.,4,Jupyter Notebook
16,Signup,Information about signing up for a free Epic G...,2,
17,svelte,Cybernetically enhanced web apps,504,"TypeScript, Svelte, JavaScript"
18,plasmo,The browser extension framework,2,"TypeScript, JavaScript, HTML"
19,instagram-scraper,Scrapes an instagram user's photos and videos,55,"Python, Dockerfile, Shell"
20,DeepFaceLive,Real-time face swap for PC streaming or video ...,5,Python
21,JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,324,Java
22,highway,"Performance-portable, length-agnostic SIMD wit...",21,"C++, C"
23,icloud_photos_downloader,A command-line tool to download photos from iC...,22,"Python, Shell, Dockerfile"
24,vitepress,Vite & Vue powered static site generator.,84,"TypeScript, Vue, CSS, JavaScript"

In [332]:
driver.close()

### 6. Scrape the details of top 100 songs on billiboard.com.

Details to be scraped

A) `Song name`
B) `Artist name`
C) `Last week rank`
D) `Peak rank`
E) `Weeks on board`

In [333]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
import time

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings('ignore')

In [334]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [335]:
driver.get('https://www.billboard.com/')
time.sleep(1)
driver.execute_script("window.stop();")

In [336]:
#Clicking the category - Charts
charts = driver.find_element_by_xpath("//*[@id='main-wrapper']/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
charts.click()
time.sleep(1)
driver.execute_script("window.stop();")

In [339]:
#Clicking the category - view chart
view_button = driver.find_element_by_xpath("//*[@id='main-wrapper']/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
view_button.click()
time.sleep(1)
driver.execute_script("window.stop();")

In [350]:
#Extracting details
name = []
artist = []
last_week = []
peak_rank = []
weeks_onboard = []

#Extracting song name details
name_tags = driver.find_elements_by_xpath("//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
for na in name_tags:
    name.append(na.text)
print(len(name))

#Extracting artist name details
artist_tags = driver.find_elements_by_xpath("//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span")
for ar in artist_tags:
    artist.append(ar.text)
print(len(artist))

#Extracting Last week rank details
last_tags = driver.find_elements_by_xpath("//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]")
for la in last_tags:
    last_week.append(la.text)
print(len(last_week))

#Extracting Peak position details
peak_tags = driver.find_elements_by_xpath("//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]")
for pe in peak_tags:
    peak_rank.append(pe.text)
print(len(peak_rank))

#Extracting Weeks on chart details
week_tags = driver.find_elements_by_xpath("//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]")
for we in week_tags:
    weeks_onboard.append(we.text)
print(len(weeks_onboard))

top_songs_billboard = pd.DataFrame({'Song Name':name,'Artist Name':artist,'Last Week Rank':last_week,'Peak Rank':peak_rank,'Weeks on Chart':weeks_onboard})
top_songs_billboard

100
100
100
100
100

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Chart
0,As It Was,Harry Styles,1,1,9
1,First Class,Jack Harlow,2,1,8
2,Wait For U,Future Featuring Drake & Tems,3,1,5
3,About Damn Time,Lizzo,5,4,7
4,Heat Waves,Glass Animals,6,1,72
...,...,...,...,...,...
95,Love You Better,Future,84,12,5
96,Wild Hearts,Keith Urban,-,97,1
97,Last Night Lonely,Jon Pardi,-,98,1
98,7500 OBO,Tim McGraw,-,99,1
99,Until I Found You,Stephen Sanchez,-,100,1

In [351]:
driver.close()

### 7. Scrape the details of Data science recruiters from naukri.com.

Details to be scraped.

A) `Name` 
B) `Designation` 
C) `Company` 
D) `Skills they hire for` 
E) `Location`

In [429]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [355]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [455]:
driver.get("http://www.naukri.com/")
time.sleep(1)

In [456]:
#Searching the keyword - Data Science
input_keyword = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[3]/div/div/div[1]/div/div/div/input")
input_keyword.send_keys('Data Science')

#Clicking on search button
search_button = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[3]/div/div/div[6]")
search_button.click()
time.sleep(1)


#Clicking on category - Recruiters
recruiter_url = driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a").get_attribute('href')
driver.get(recruiter_url)

#Searching the data science recruiters
input_search = driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")
input_search.send_keys("Data Science")

search_b = driver.find_element_by_xpath("//button[@class = 'fl qsbSrch blueBtn']")
search_b.click()

In [457]:
#Getting the url for each recruiter details
url = []
url_tags = driver.find_elements_by_xpath("//div[@class = 'vcard']/p/a[1]")
for ur in url_tags:
    url.append(ur.get_attribute('href'))
print(len(url))

50

In [458]:
#Extracting the details.

name = []
designation = []
company = []
skills = []
location = []

#Scraping the name of recruiters
name_tags = driver.find_elements_by_xpath("//span[@class = 'fl ellipsis']")
for na in name_tags:
    name.append(na.text)
print(len(name))

#Scraping the Designation of recruiters
desig_tags = driver.find_elements_by_xpath("//span[@class = 'ellipsis clr']")
for de in desig_tags:
    designation.append(de.text)
print(len(designation))

#Scraping the Company details
company_tags = driver.find_elements_by_xpath("//div[@class = 'vcard']/p/a[2]")
for com in company_tags:
    company.append(com.text)
print(len(company))

#Scraping the information of skills/roles hiring for
skills_tags = driver.find_elements_by_xpath("//div[@class = 'hireSec highlightable']")
for sk in skills_tags:
    skills.append(sk.text)
print(len(skills))

#Scraping the location details

for u in url:
    driver.get(u)
    try:
        location.append(driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a").text)
    except NoSuchElementException:
        location.append('-')
print(len(location))

naukri_recruiters = pd.DataFrame({'Name of Recruiter':name,'Designation': designation,'Company':company,'Skills/Roles Hiring for':skills,'Location':location})
naukri_recruiters

50
50
50
50
50

,Name of Recruiter,Designation,Company,Skills/Roles Hiring for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad

In [460]:
driver.close()

### 8. Scrape the details of Highest selling novels from theguardian.com

Details to be scraped.
A) `Book name`
B) `Author name`
C) `Volumes sold`
D) `Publisher`
E) `Genre`

In [461]:
#importing the libraries
import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

In [462]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [464]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(1)

In [470]:
#Scraping the details

name = []
author = []
volume = []
publisher = []
genre = []

#Scraping book names
book_tags = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']/tbody/tr/td[2]")
for book in book_tags:
    name.append(book.text)
print(len(name))

#Scraping author names
author_tags = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']/tbody/tr/td[3]")
for auth in author_tags:
    author.append(auth.text)
print(len(author))

#Scraping volume sold details
volume_tags = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']/tbody/tr/td[4]")
for vol in volume_tags:
    volume.append(vol.text)
print(len(volume))

#Scraping publishers' information
publish_tags = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']/tbody/tr/td[5]")
for pub in publish_tags:
    publisher.append(pub.text)
print(len(publisher))

#Scraping genre details
genre_tags = driver.find_elements_by_xpath("//table[@class = 'in-article sortable']/tbody/tr/td[6]")
for gen in genre_tags:
    genre.append(gen.text)
print(len(genre))

Highest_selling_novels = pd.DataFrame({'Book Name ':name,'Author Name': author,'Volume Sold':volume,'Publisher Name':publisher,'Genre':genre})
Highest_selling_novels

100
100
100
100
100

,Book Name,Author Name,Volume Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [471]:
driver.quit()

### 9. Scrape the details most watched tv series of all time from imdb.com.

Details to be scraped.

A) `Name`
B) `Year span`
C) `Genre`
D) `Run time`
E) `Ratings`
F) `Votes`

In [473]:
#importing the libraries

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

import pandas
import re

import time

import warnings
warnings.filterwarnings('ignore')

In [474]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [475]:
driver.get('http://www.imdb.com/list/ls095964455/')
time.sleep(1)

In [481]:
#Scraping the information 

name = []
year = []
genre = []
run_time = []
ratings = []
votes = []

#Scraping the names
name_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/h3/a")
for na in name_tags:
    name.append(na.text)
print(len(name))

#Scraping the year span information
year_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/h3/span[2]")
for ye in year_tags:
    year.append(ye.text)
print(len(year))

#Scraping genre information 
genre_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/p/span[5]")
for gen in genre_tags:
    genre.append(gen.text)
print(len(genre))

#Scraping the run time informaiton 

run_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/p/span[3]")
for run in run_tags:
    run_time.append(run.text)
print(len(run_time))

#Scraping ratings
rating_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/div/div/span[2]")
for rat in rating_tags:
    ratings.append(rat.text)
print(len(ratings))

#Scraping votes
vote_tags = driver.find_elements_by_xpath("//div[@class = 'lister-item-content']/p[4]/span[2]")
for vot in vote_tags:
    votes.append(vot.text)
print(len(votes))

top_tv_shows = pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
top_tv_shows

100
100
100
100
100
100

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,992,768"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,025,252"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"948,760"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,449"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,241"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,826"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,494"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,145"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,261"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"228,414"

In [482]:
driver.close()

### 10. Details of Datasets from UCI machine learning repositories.

Details to be scraped.

A) `Dataset name`
B) `Data type`
C) `Task`
D) `Attribute type`
E) `No of instances`
F) `No of attribute`
G) `Year`

In [483]:
#importing libraries

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

In [484]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [486]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(1)

In [487]:
#Clicking the category - View all Data Sets
all_datasets = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
all_datasets.click()

In [517]:
#Scraping the information

name = []
data_type = []
task = []
attribute_type = []
instances = []
attributes = []
year = []

#Scraping the dataset names
name_tags  = driver.find_elements_by_xpath("//tr/td[2]/p/b/a")
for na in name_tags:
    name.append(na.text)
print(len(name))

#Scraping the data type information
dtype_tags = driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/p")
for dt in dtype_tags:
    data_type.append(dt.text)
data_type = data_type[1:]
print(len(data_type))

#Scraping the task information
task_tags = driver.find_elements_by_xpath("//tbody/tr/td[3]/p")
for ta in task_tags:
    task.append(ta.text)
task = task[1:-1]
print(len(task))

#Scraping the attribute type information
attribute_type_tags = driver.find_elements_by_xpath("//tbody/tr/td[4]/p")
for at in attribute_type_tags:
    attribute_type.append(at.text)
attribute_type = attribute_type[1:]
print(len(attribute_type))

#Scraping instances information
instance_tags = driver.find_elements_by_xpath("//tbody/tr/td[5]/p")
for inst in instance_tags:
    instances.append(inst.text)
instances = instances[1:]
print(len(instances))

#Scraping attributes information
attribute_tags = driver.find_elements_by_xpath("//tbody/tr/td[6]/p")
for att in attribute_tags:
    attributes.append(att.text)
attributes = attributes[1:]
print(len(attributes))

#Scraping year details
year_tags = driver.find_elements_by_xpath("//tbody/tr/td[7]/p")
for yr in year_tags:
    year.append(yr.text)
year = year[1:]
print(len(year))

uci_datasets = pd.DataFrame({'Dataset name': name,'Data Type':data_type,'Default Task':task,'Attribute Types':attribute_type,'No. of Instances':instances,'No. of Attributes':attributes, 'Year': year})
uci_datasets

622
622
622
622
622
622
622

,Dataset name,Data Type,Default Task,Attribute Types,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [518]:
driver.close()

## Assignment Completed