## SQL - Answers

In [1]:
import sqlite3
db = sqlite3.connect("customer_data.db")
cur = db.cursor()

In [2]:
#Creating table Customers
cur.execute("CREATE TABLE Customers (customerNumber INT PRIMARY KEY, CustomerName TEXT, ContactLastName TEXT, ContactFirstName TEXT, phone INT, addressLine1 TEXT, addressLine2 TEXT, city TEXT, state TEXT, postalCode INT, country TEXT, salesRepEmployeeNumber INT, creditLimit FLOAT);")

In [25]:
#Creating table Products
cur.execute("CREATE TABLE Products (productCode INT PRIMARY KEY, productName TEXT, productLine TEXT, productScale TEXT, productVendor TEXT, productDescription TEXT, quantityInStock INT, buyPrice FLOAT, MSRP FLOAT);")

In [3]:
#Creating table Orders
cur.execute("CREATE TABLE Orders(orderNumber INT PRIMARY KEY, orderDate INT, requiredDate INT, shippedDate INT, status TEXT, comments TEXT, customerNumber INT);")

In [26]:
#Creating table orderdetails
cur.execute("CREATE TABLE Orderdetails (orderNumber INT NOT NULL PRIMARY KEY, productCode INT, quantityOrdered INT, priceEach FLOAT, orderLineNumber INT);")

In [27]:
#Creating table payments
cur.execute("CREATE TABLE Payments (customerNumber INT NOT NULL PRIMARY KEY, checkNumber INT, paymentDate DATE, amount INT);")

In [28]:
#Creating table employees
cur.execute ("CREATE TABLE Employees (employeeNumber INT PRIMARY KEY, lastName TEXT, firstName TEXT, extension TEXT, email TEXT, OfficeCode TEXT, reportsTo TEXT, jobTitle TEXT);")

In [49]:
#SQL query to show all the columns data from the Orders Table.
cur.execute("SELECT * FROM Orders").fetchall()

[]

In [51]:
#SQL query to show all the comments from the Orders Table.
cur.execute("SELECT comments FROM Orders").fetchall()

[]

In [52]:
#SQL query to show orderDate and Total number of orders placed on that date, from Orderstable
cur.execute(" SELECT orderDate, COUNT(orderNumber) FROM Orders GROUP BY orderDate;").fetchall()

[]

In [29]:
#SQL query to show employeNumber, lastName, firstName of all the employees from employees table.
cur.execute("SELECT employeeNumber, lastName, firstName FROM Employees").fetchall()

[]

In [30]:
#SQL query to show all orderNumber, customerName of the person who placed the respective order.
cur.execute("SELECT Orders.orderNumber, Customers.customerName FROM Customers INNER JOIN Orders ON Orders.customerNumber=Customers.customerNumber;").fetchall()

[]

In [33]:
#SQL query to show name of all the customers in one column and salerepemployee name in another column.
cur.execute("SELECT Customers.CustomerName, Employees.firstName FROM Employees INNER JOIN Customers ON Customers.salesRepEmployeeNumber=employeeNumber;").fetchall()

[]

In [35]:
#SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.
cur.execute("SELECT DATE(paymentdate), SUM(amount) AS TOTAL FROM Payments GROUP BY DATE(paymentdate);").fetchall()

[]

In [ ]:
#SQL query to show all the products productName, MSRP, productDescription from the products table.
cur.execute("SELECT productName, MSRP, productDescription FROM Products;").fetchall()

In [37]:
#SQL query to print the productName, productDescription of the most ordered product
cur.execute("SELECT Products.productName, Products.productDescription, SUM(Orderdetails.quantityOrdered) AS quantityOrdered FROM Orderdetails AS Orderdetails INNER JOIN `Products` AS Products ON Orderdetails.productCode = Products.productCode GROUP BY Orderdetails.productCode ORDER BY SUM(Orderdetails.quantityOrdered) DESC, Products.productName ASC LIMIT 3").fetchall()

[]

In [40]:
#SQL query to print the city name where maximum number of orders were placed.
cur.execute("SELECT city FROM Customers INNER JOIN Orders on Customers.customerNumber=Orders.customerNumber GROUP BY city ORDER BY city DESC LIMIT 1;").fetchall()

[]

In [41]:
#SQL query to get the name of the state having maximum number of customers.
cur.execute("SELECT state FROM Customers GROUP BY state ORDER BY COUNT(customerNumber) DESC LIMIT 1;").fetchall()

[]

In [47]:
#SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.
cur.execute("SELECT employeeNumber, (firstName || '' || lastName) AS FullName FROM Employees ORDER BY FullName").fetchall()

[]

In [48]:
#SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered Ã— priceEach)
cur.execute("SELECT Orders.orderNumber, Customers.customerName, Orderdetails.quantityOrdered, Orderdetails.quantityOrdered*Orderdetails.priceEach AS TotalAmount FROM ((Orders INNER JOIN Customers ON Orders.customerNumber=Customers.customerNumber) INNER JOIN Orderdetails ON Orders.orderNumber=Orderdetails.orderNumber)").fetchall()

[]